<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add  name="EFF_2016ConnectionString" connectionString="Data Source = .\AMBRATOLM_SQL; Initial Catalog = EFF_2016; Integrated Security = True;"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HumanCoWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2213/HumanCoWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="HumanCoWebServiceSoap"
        contract="HumanCoServiceReference.HumanCoWebServiceSoap" name="HumanCoWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
