<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="EFF_2016_V2ConnectionString" connectionString="Data Source=.\AMBRATOLM_SQL;Initial Catalog=EFF_2016_V2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AppareilsWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1688/AppareilsWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AppareilsWebServiceSoap"
                contract="AppareilsServiceReference.AppareilsWebServiceSoap"
                name="AppareilsWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
